.date-bg {
    background-color: #3D58A6;
    width: 56px;
    height: 56px;
}

.nav-a {
    font-size: 22px;
    color: #3D58A6;
}
.active {
    color: #EE4036;
}
.number {
    font-size: 16px;
    color: #999999;
}
.contant-title {
    color: #3D58A6;
    font-size: 20px;
    text-align: center;
}
.a-contact {
    font-size: 16px;
    color: black;
}
.contact-ul {
    text-align: center;
}